

.hidden {
    display: none;
}

button {
    font-size: inherit;
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    background-color: #36b9cc;
    color: #fff;
    border: 0;
    transition: background-color 0.4s, color 0.4s;
    &:hover

{
    background-color: #bbb;
    color: #000;
}

}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.page-numbers {
    margin: 1em 1em 0;
}

.page-number {
    padding: 0.5em;
    opacity: 0.5;
    cursor: pointer;
}

.active {
    opacity: 1;
}

@media screen and (min-width: 540px) {
    .backward {
        order: 1;
    }

    .page-numbers {
        order: 2;
        margin-top: 0;
    }

    .forward {
        order: 3;
    }
}
