@page
@model TicketControl.Web.Pages.Identity.Admin.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<h2> User not found.</h2>

<a asp-page="~/Index" class=" btn btn-primary">Go to Home page</a>

