@page
@model TicketControl.Web.Pages.Tickets.IndexModel
@{
}

<h2>All Tickets</h2>



<!--Show all Not done tickets button-->
<div class="row">
    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 mt-1">
        <form method="post" asp-page-handler="notdone">
            <button type="submit" class="btn btn-warning  btn-block">
                <span class="icon text-white float-left">
                    <i class="fas fa-exclamation"></i>
                </span>
                <span class="text">Not done tickets</span>
            </button>
        </form>
    </div>

    <!--Show all Done tickets button-->
    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 mt-1">
        <form method="post" asp-page-handler="done">
            <button type="submit" class="btn btn-success btn-block">
                <span class="icon text-white float-left"><i class="fas fa-check"></i></span>
                <span class="text">Done tickets</span>
            </button>
        </form>
    </div>

    
    <!--All tickets-->
    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 mt-1">
        <a asp-page="/Tickets/Index"
                class="btn btn-primary  btn-block">
            <span class="icon text-white float-left"><i class="fas fa-list-ul"></i></span>
            <span class="text">All tickets</span>
        </a>
    </div>

    <!--Add ticket-->
    <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 mt-1">
        <a class="btn btn-primary btn-block" asp-page="./Create">
            <span class="icon text-white float-left"><i class="fas fa-plus"></i></span>
            <span class="text">Add Ticket</span>
        </a>
    </div>
</div>

@if (Model.Message != null)
{
    <div class="alert alert-info">
        @Model.Message
    </div>
}
@if (Model.Tickets.Any())
{
    <partial name="_TicketTable" model="@Model.Tickets" />
}

