
@using Microsoft.AspNetCore.Identity
@using PestControl.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="fas fa-user-alt"></i>
                <span class="ml-lg-2 mr-lg-2 d-none d-lg-inline text-gray-800">@User.Identity.Name </span>
            </a>
        </li>
        <li class="nav-item">
            <form  asp-page="/Identity/Logout" asp-route-returnUrl="@Context.Request.Path">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="ml-lg-2 mr-lg-2 d-none d-lg-inline text-gray-800">Logout</span>
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="/Idenity/Register" asp-route-returnUrl="@Context.Request.Path">
                <i class="fas fa-user-plus"></i>
                <span class="ml-lg-2 mr-lg-2 d-none d-lg-inline text-gray-800">Register</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link "  asp-page="/Identity/Login" asp-route-returnUrl="@Context.Request.Path">
                <i class="fas fa-door-open"></i>
                <span class="ml-lg-2 mr-lg-2 d-none d-lg-inline text-gray-800 ">Login</span>
            </a>
        </li>
    }

