@page
@model PestControl.Web.Pages.Tickets.IndexModel
@{
}

<h2>All Tickets</h2>

@if (Model.Message != null)
{
    <div class="alert alert-info">
        @Model.Message
    </div>
}
@if (Model.Tickets.Any())
{
    <partial name="_TicketTable" model="@Model.Tickets" />
}

<a class="btn btn-primary"
   asp-page="./Create">Add Ticket</a>
