@page
@model TicketControl.Web.Pages.Identity.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
    Layout = "_RestrictedLayout";

}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
</div>

<p>@Model.Message</p>
<div class="text-center user">
    <a class="btn btn-primary btn-user btn-block"  asp-page="/Identity/Login">
        
        <span class="text-center">Log in</span>
    </a>
</div>

