@page
@model PestControl.Web.Pages.Identity.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
    Layout = "_RestrictedLayout";

}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
</div>

<p>@Model.Message</p>

