@page
@model PestControl.Web.Pages.Identity.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_RestrictedLayout";

}


<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
</div>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
       


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}