@page
@model PestControl.Web.Pages.Identity.ForgotPasswordConfirmationModel
@{
    Layout = "_RestrictedLayout";
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="card shadow mb-4">
    
        <div class="card-body">
            <p>
                Please check your email to reset your password    
            </p>
        </div>
    
</div>
