@page
@model PestControl.Web.Pages.Identity.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Enter your email.</h6>
    </div>
        <div class="card-body">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}