@page
@model PestControl.Web.Pages.Identity.ForgotPasswordConfirmationModel
@{
    Layout = "_RestrictedLayout";
    ViewData["Title"] = "Check your email";
}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Reset link has been sent</h1>
</div>
<div class="text-center">
    <p>
        Please check your email to reset your password
    </p>

</div>

