@page
@model TicketControl.Web.Pages.Identity.ForgotPasswordConfirmation
@{
    Layout = "_RestrictedLayout";
    ViewData["Title"] = "Check your email";
}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Reset link has been sent</h1>
</div>
@if (Model.DisplayConfirmAccountLink)
{
    <div class="text-center">
        <p>
            This app does not currently have a real email sender registered.
            Normally this would be emailed: <a id="confirm-link" href="@Model.PasswordResetConfirmationUrl">Click here to reset your password</a>
        </p>
    </div>
}
else
{
    <div class="text-center">
        <p>
            We send a link to @Model.Email to confirm your account
        </p>
    </div>
}
