@page
@model PestControl.Web.Pages.Identity.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_RestrictedLayout";
}


<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
</div>
<!--Username-->
<form class="user" method="post">
    <span asp-validation-for="Input.Username" class="text-danger"></span>
    <div class="form-group">
        <input type="text" asp-for="Input.Username" class="form-control form-control-user"
               aria-describedby="emailHelp"
               placeholder="@Html.DisplayNameFor(model => model.Input.Username)">
    </div>
    <span asp-validation-for="Input.Password" class="text-danger"></span>

    <div class="form-group">
        <input asp-for="Input.Password"
               type="password" class="form-control form-control-user"
               id="exampleInputPassword"
               placeholder="@Html.DisplayNameFor(model => model.Input.Password)">
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox small">
            <input asp-for="Input.RememberMe" type="checkbox"
                   class="custom-control-input">
            <label class="custom-control-label" asp-for="Input.RememberMe">
            </label>
        </div>
    </div>
    <!--Submit-->
    <button type="submit" class="btn btn-primary btn-user btn-block">
        Login
    </button>
    <!--Other actions-->
    <hr />
    <div class="form-group">
        <div class="text-center">
            <a  asp-page="/Identity/ForgotPassword">Forgot your password?</a>
        </div>
            <div class="text-center">
                <a asp-page="/Identity/Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                
            </div>
        </div>

</form>
@*<hr>
<a href="index.html" class="btn btn-google btn-user btn-block">
    <i class="fab fa-google fa-fw"></i> Login with Google
</a>
<a href="index.html" class="btn btn-facebook btn-user btn-block">
    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
</a>*@
<!--/form-->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



