@page
@model PestControl.Web.Pages.Identity.RegisterComfirmationModel
@{          
    ViewData["Title"]="Register confirmation";
    Layout = "_RestrictedLayout";

}


<p></p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h6>
    </div>
    @if (Model.DisplayConfirmAccountLink)
    {
        <div class="card-body">
            <p>
                This app does not currently have a real email sender registered.
                Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </p>
        </div>
    }
    else
    {
        <div class="card-body">
            <p>
                Please check your email to confirm your account
            </p>
        </div>
    }

</div>
