@page
@model TicketControl.Web.Pages.Identity.RegisterComfirmationModel
@{          
    ViewData["Title"]="Register confirmation";
    Layout = "_RestrictedLayout";

}


<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
</div>

@if (Model.DisplayConfirmAccountLink)
{
    <div class="text-center">
        <p>
            This app does not currently have a real email sender registered.
            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    </div>
}
else
{
    <div class="text-center">
        <p>
            Please check your email to confirm your account
        </p>
    </div>
}

