@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset your password";
    Layout = "_RestrictedLayout";

}

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
</div>

<form class="user" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Input.Code" type="hidden" />
    <div class="form-group">
        <input asp-for="Input.Email" 
               class="form-control form-control-user"
               placeholder="@Html.DisplayNameFor(model => model.Input.Email)"/>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.Password" 
               class="form-control form-control-user"
               placeholder="@Html.DisplayNameFor(model => model.Input.Password)"/>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.ConfirmPassword" 
               class="form-control form-control-user"
               placeholder="@Html.DisplayNameFor(model => model.Input.ConfirmPassword)"/>
              
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">Reset</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
