@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_RestrictedLayout";

}

<h1>@ViewData["Title"]</h1>



<div class="card shadow mb-4">
    <div class="card-body">
        <p>
            Your password has been reset. Please <a asp-page="/Identity/Login">click here to log in</a>.
        </p>
    </div>
</div>
