@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Your password has been reset";
    Layout = "_RestrictedLayout";

}

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
</div>
<div class="text-center">
    <p>
        Your password has been reset. Please <a asp-page="/Identity/Login">click here to log in</a>.
    </p>
</div>
