@page
@model PestControl.Web.Pages.Comments.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<h2>Woops, your Comment was not found</h2>
<a href="@Model.ReturnUrl" class=" btn btn-primary">Go back</a>
